.Name {
  margin-bottom: 1rem;
  font-family: "Nova Square", cursive;
  font-size: 3rem;
  color: #828282;
}

.Bio {
  font-family: "Abel", sans-serif;
  font-size: 1.5rem;
  color: #828282;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.P5Sketch {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
